.row {
  border: 1px solid gray;
  margin: 10px 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.left-section,
.mid-section {
  width: 33%;
}

.mid-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 50%;
  margin: auto;
}

.right-section {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company,
.position {
  font-family: 12px;
  font-family: "Courier New", Courier, monospace;
}

.location {
  font-size: 8px;
}

.tag {
  margin: 5px;
  border: 1px solid gray;
  padding: 2px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-size: 8px;
}

.apply-button {
  background-color: coral;
  color: white;
  font-weight: 700;
  border-radius: 6px;
  padding: 10px 15px;
  border: none;
}

.apply-button:hover {
  cursor: pointer;
  opacity: 0.75;
}
